* {
    margin: 0;
    padding: 0;
    background-color: white;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
}
body:before {
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 17px;
    background: -webkit-gradient(linear, left top, right top, from(#5433FF), color-stop(#20BDFF), to(#A5FECB));
    background: linear-gradient(90deg, #5433FF, #20BDFF, #A5FECB);
}

.container {
    padding: 100px 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-title{
  font-size: 5rem;
  line-height: 1;
}
.small-title{
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.desc-title {
    color: #212121;
}
.text-strong {
  font-weight: bold;
  color: #5433FF; /* This is Tailwind's red-500 color, you can use any hex color you prefer */
}
.text-strong-gray {
  font-weight: bold;
  color: #555555;
}
.text-black{
  font-weight: bold;
  color: black;
}
.desc-title {
  font-size: 1.5rem;
}
.mb-2 {
  margin-bottom: 20px; /* 여기서는 8px로 설정했으나, 원하는 간격에 따라 조정 가능 */
}
.indent-text {
  padding-left: 2rem;
}
.desc-img {
  padding-left: 2rem;
}

.centered-list {
  width: 80%; /* 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
}
@media screen and (max-width: 768px) {
  .centered-list {
      width: 100%; /* 모바일 화면에서의 너비 */
  }
}
