@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open sans";
}
.main {
  height: 100%;
  margin: 0;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  color: black;
  /* width: 100wh;
  height: 90vh; */
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.icon-computer {
  font-size: 100pt;
  margin-top: 3%;
  margin-bottom: 3%;
}
.main-sentence {
  font-family: "Open sans";
}
.main-sentence-ready {
    display: none;
    font-size: 20pt;
    font-family: "Open sans";
    letter-spacing: 3pt;
    margin-bottom: 3%;
}
.main-sentence-hello {
    font-size: 35pt;
    color: white;
    display: flex !important;
    justify-content: center !important;
}
.main-sentence-hello span{
  width: 100% !important;
}
.introduce {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introduce-section h1 {
  color: rgb(13, 58, 114);
}
.introduce-title-white {
  color: white !important;
}
.introduce-section.left {
  padding: 10% 20%;
}
.introduce-section.right {
  background-color: rgb(13, 58, 114);
  padding: 10% 20%;
  color: white;
}
.introduce-sentence {
  margin-top: 7%;
  line-height: 200%;
}
.contact-details{
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
.contact-details i {
    font-size: 30pt;
    color: rgb(13, 58, 114);
    margin-right: 5%;
}
.contact-details a {
  color: rgb(13, 58, 114) !important;
  text-decoration: none !important;
}
.skill-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.skills-icon {
  font-size: 50pt;
}
.middle-title {
  margin-top: 7%;
  margin-bottom: 7%;
  font-weight: bolder;
}
.projects {
  padding-top: 5%;
}
.projects-title{
  text-align: center;
  color: rgb(13, 58, 114);
}
.projects-content-odd{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 7%;
}
.projects-sections img {
    width: 70%;
}
.projects-sections.big{
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-sections.small{
    width: 90%;
}
.projects-name {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 29pt;
  font-weight: 500;
  margin-bottom: 7%;
}
.projects-table {
    margin-top: 7%;
}
.projects-link {
    display: flex;
    justify-content: space-evenly;
}
.projects-button{
  position: relative;
  font-size: inherit;
  color: inherit;
  background: rgb(31, 84, 97);
  cursor: pointer;
  padding: 1% 10%;
  display: inline-block;
  outline: none;
  position: relative;
  border: 3px solid white;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.projects-button:after{
  content: '';
  position: absolute;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgb(31, 84, 97);
  opacity: 0.3;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.projects-button:hover{
    border: 3px solid rgb(31, 84, 97);
    color: white;
    background: white;
}
.projects-button:hover:after{
  height: 400%;
  opacity: 1;
}
.projects-button span{
  z-index: 2;
  position: relative;
}
.projects-link a:hover {
  text-decoration: none;
}
.projects-content-even{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 7%;
  margin-left: 10%;
}
.projects-sections.right img {
    width: 90%;
}
.projects-sections.right.even {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
  margin-top: 5%;
    padding: 2% 0%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
}
.footer-details.title {
  margin-bottom: 5%;
}
.footer-details a {
    color: white;
}
.footer-details a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 667px)  {
  .introduce{
    display: block !important;
  }
  .projects-content-odd, .projects-content-even{
    display: block;
    margin-top: 15%;
  }
  .projects-sections.small {
    margin: 0 auto;
    width: 90%;
  }
  .projects-content-even{
    margin-left: 0;
  }
  .projects-link {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .main-sentence-hello{
    font-size: 20pt;
  }
}
